{% extends 'base.html.twig' %}

{% block body %}
	<div class="background-word">
		<p>Qie</p>
	</div>
	<div class="register">
		{{ form_start(registrationForm) }}
		<p>Register</p>
		{{ form_row(registrationForm.name) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
		{{ form_row(registrationForm.agreeTerms) }}
		<div class="form-button">
			<button type="submit" class="btn">Register</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="footer-start">
		<p>Already have an Account?
			<a href="/login">Sign in</a>
		</p>
	</div>
{% endblock %}
